button.s_twitter { background: url(../images/twittersharebutton.png) no-repeat; border:none; height: 32px; width: 32px;  }
button.s_facebook { background: url(../images/facebooksharebutton.png) no-repeat; border:none; height: 32px; width: 32px; } 
button.s_linkedin { background: url(../images/linkedinsharebutton.png) no-repeat; border:none; height: 32px; width: 32px; } 
a.print { background:#188980; padding:5px; color:#fff; height: 32px; width: 32px; } 
a.print .icon-printer { font-size: 22px; }
a.email { background:url(../images/emailicon.png); padding:5px; color:#fff; height: 32px; width: 32px; } 
a.email .icon-email { font-size: 22px; }
.like-block { float:left; margin-left:10px; }
.like-button { float: left;  }
.like-counter { margin-left:6px; float: left; background:#ebebeb  url(../images/sharecounterbg.png) no-repeat left center; height: 32px; padding: 4px 16px 6px 20px; color:#333; font-weight: bold; }
.op-share { float:right; margin-top: 5px; }